* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
}

body {
    background-color: rgb(236, 236, 236);
}

header {
    display: flex;
    flex-wrap: wrap;
}

nav {
    width: 60%;
}

.head-btn {
    color: white;
    font-weight: 600;
    padding: 5px 40px;
    background-color: #007E85;
    border: none;
    border-radius: 14px;
    font-size: 19px;
}

.head-btn:hover {
    color: #fff;
    background-color: rgb(203, 202, 202);
    transition: 0.3s;
}

#navbarNav {
    justify-content: right;
}

.signUp {
    color: #007E85 !important
}

.logo {
    width: 37%
}

.logo img {
    margin: 9px;
}

.navbarr li {
    list-style: none;
    float: left;
    margin: 19px 17px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.link {
    padding: 12px 0px;
    font-weight: 700;
    font-size: 15px;
}

.navv {
    background-color: transparent !important;
    font-weight: 600 !important;

}

.con {
    display: flex;
    justify-content: right !important;
}

.blue {
    color: #007E85;
}

.green {
    color: #6EAB36;
}

.secondText {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 96vh;
}

.healthcare {
    font-size: 36px;
    padding-top: 14px 0;
}

.doctor {
    position: relative;
}

.vector,
.doctor-img {
    width: 360px
}

.second-main {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.vector {
    position: absolute;
    z-index: -1;
    top: 29px;
    right: 26px;

}

.appoint-btn {
    padding: 5px 36px;
    color: white;
    font-weight: 600;
    background-color: #007E85;
    border: none;
    font-size: 19px;
    border-radius: 12px;

}

.appointment {
    display: flex;
    gap: 42px;
    align-items: center;
    font-weight: 600;
    margin-top: 2em;
}

.video-player {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 600;
}

.img24-7,
.pro-img {
    position: absolute;
    width: 145px;
}

.pro-img {
    right: 280px;
    bottom: 36px;
}

.img24-7 {
    border-radius: 12px;
    bottom: 271px;
    left: 240px;
    background-color: white;
    padding: 5px 14px;
}

.doc {
    margin-top: 3em;
    color: black;
    margin-left: 2.7em;
    margin-bottom: 3em;
    font-weight: 700
}

.doc-search {
    background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.name {
    margin-left: 8px;
}

.doc-search>input,
.doc-search>p,
.doc-search>img,
.doc-search>button {
    margin: 40px 13px
}

.doc-search>input {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #007E85;
}

.btn-search {
    padding: 12px 40px;
}

.numbers {
    color: #007E85;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;

}

.oneLine {
    display: none;
}

.gb {
    color: #007E85;
    font-size: 38px;
}

.gbt {
    font-size: 19px;
}

.numbers-main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin-top: 6em;
    margin-bottom: 3em;
}

.num99 {
    text-align: center;
}

.before {
    display: block
}

.Started {
    color: white;
    font-weight: 600;
    background-color: #007E85;
    border: none;
    border-radius: 34px;
    font-size: 19px;

    padding: 8px 35px;
}

.btnn {
    display: flex;
    gap: 34px
}

.white {
    background-color: white;
    color: #007E85;
}

.build-img {
    width: 100%;
}

.reason-heading {
    color: #007E85;
    font-weight: 700;
}

.reason-main {
    padding-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 79px;
    margin-left: 113px;

}


.reason-img>img {
    width: 430px;
}

.get-head,
.head-text,
.head-contact {
    text-align: center;
    margin-top: 30px;

}

.get-head,
.head-contact {
    color: black;
    font-weight: 700;
}

.formm {
    display: flex;
    justify-content: space-between;
}

.label-left {
    display: inline;
    float: right
}

form,
.sub-new {
    width: 76%;
    margin: auto;
}

.sub-new {
    padding-top: 150px;
}

.input>input,
.drop {
    border: 2px solid #007E85;
    background-color: transparent;
    color: black;
}


.input {
    margin-top: 2em;
}

.button {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.submit-btnn {
    background-color: #007E85;
    padding: 11px 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    border-radius: 7px;
    color: white;


}

.drop {
    width: 100%;
    padding: 6px;
    border-radius: 7px;

}

.subs-heading {
    text-align: center;
    font-weight: 700;
}

.new {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.subs-button {
    padding: 7px 23px;
    border-radius: 30px;
    background-color: #007E85;
    color: #ffff;
    border: none;

}

.subs-input {
    padding: 7px 165px 7px 28px;
    border-radius: 30px;
    border: 1px solid gray;
}
footer{
    background-color: black;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3em;
    padding-top: 6em;
    padding-bottom: 6em;
}
footer ul{
    list-style: none;
}

.foot-head{
    font-weight: 700;

}

.container-xxl {
    background-color: orange;
}

.main {
    background-color: red;
} 

.foot1{
    width: 253px;
}

.foot-product{
    width: 120px;
}































































/* MEDIA QUERIES */
@media only screen and (max-width: 1130px) and (min-width: 864px) {
    .reason-img>img {
        width: 340px;
    }

    .reason-main {
        margin-left: 0;
        gap: 30px;

    }

    .secondText {
        width: 78vh;
        margin-top: 104px;
    }

    .doctor-img,
    .vector {
        width: 335px;
    }

    .img24-7,
    .pro-img {
        width: 124px
    }

    .pro-img {
        bottom: 24px;
    }

    .img24-7 {
        left: 208px;
    }

    .doc-search>input {
        padding: 10px 4px;
        width: 180px;
    }

    .second-main {
        gap: 67px;
    }
}

@media only screen and (max-width: 864px) and (min-width:760px) {
    .reason-main {
        margin-left: 0;
        gap: 20px;
    }

    .reason-img>img {
        width: 340px;
    }

    .secondText {
        width: 78vh;
        margin-top: 104px;
    }

    .doctor-img,
    .vector {
        width: 335px;
    }

    .img24-7,
    .pro-img {
        width: 109px
    }

    .pro-img {
        bottom: 24px;
    }

    .img24-7 {
        left: 208px;
    }

    .doc-search>input {
        padding: 10px 4px;
        width: 144px;
    }

    .pro-img {
        width: 103px;
        right: 246px;
        bottom: 19px;
    }

    .second-main {
        gap: 83px;
    }

    .img24-7 {
        left: 155px;
        top: 37px;
    }

    .doctor-img,
    .vector {
        width: 290px;
    }

    .btn-search {
        padding: 10px 30px;
    }


    .doc-search>button {
        margin: 30px 0;
    }
}

@media only screen and (max-width:773px) and (min-width:760px) {
    .numbers-main {
        gap: 220px
    }
}

@media only screen and (max-width: 760px) and (min-width:550px) {
    .reason-img>img {
        width: 440px;
    }

    .Started {
        margin-left: 30px;
    }

    .reason-main {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-left: 0;

    }

    .form {
        width: 92%;
        margin: auto;
    }

    .secondText {
        /* width: 78vh; */
        margin-top: 104px;
        text-align: center;
    }

    .doctor-img,
    .vector {
        width: 335px;
        margin-top: 5em;

    }

    .doctor-img {
        margin-left: 134px;

    }



    .img24-7,
    .pro-img {
        width: 109px
    }

    .pro-img {
        bottom: 24px;
    }

    .doc-search>input {
        padding: 10px 4px;
        width: 60%;
    }

    .pro-img {
        width: 103px;
        right: 246px;
        bottom: 19px;
    }

    .second-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 83px;
    }

    .img24-7 {
        left: 300px;
        top: 130px;
    }

    .doctor-img,
    .vector {
        width: 290px;
    }

    .btn-search {
        padding: 10px 30px;
    }


    .doc-search>button {
        margin: 30px 0;
    }

    .doc-search {
        flex-direction: column;
    }

    .oneLine {
        display: flex;
        gap: 34px;
        align-items: center;
    }

    .numbers-main {
        gap: 140px;
    }

    .before {
        display: none;
    }
}


@media only screen and (max-width:550px) and (min-width:475px) {
    .reason-img>img {
        width: 440px;
    }

    .Started {
        margin-left: 30px;
    }

    .reason-main {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-left: 0;

    }

    .form {
        width: 89%;
        margin: auto;
    }

    .before {
        display: none;
    }

    .form-width {
        display: flex;
        flex-direction: column;
    }

    .secondText {
        /* width: 78vh; */
        margin-top: 104px;
        text-align: center;
    }

    .doctor-img,
    .vector {
        width: 335px;
        margin-top: 5em;

    }

    .doctor-img {
        margin-left: 14px;

    }

    .img24-7,
    .pro-img {
        width: 109px
    }

    .pro-img {
        bottom: 24px;
    }

    .doc-search>input {
        padding: 10px 4px;
        width: 60%;
    }

    .pro-img {
        width: 103px;
        right: 246px;
        bottom: 19px;
    }

    .second-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 83px;
    }

    .img24-7 {
        left: 190px;
        top: 130px;
    }

    .doctor-img,
    .vector {
        width: 290px;
    }

    .btn-search {
        padding: 10px 30px;
    }


    .doc-search>button {
        margin: 50px 0;
    }

    .doc-search {
        flex-direction: column;
    }

    .oneLine {
        display: flex;
        gap: 34px;
        align-items: center;
    }

    .appointment {
        flex-direction: column;
    }

    .numbers-main {
        gap: 240px;
    }
}


@media only screen and (max-width:475px) and (min-width:294px) {
    .btnn {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .reason-heading,
    .reason-text p {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .reason-text {
        font-size: 14px;


    }

    .reason-text h2 {
        font-size: 18px;
    }

    .reason-img>img {
        width: 260px;
    }

    .Started {
       
        width: 200px;
    }

    .reason-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;

    }

    .form {
        width: 96%;
        margin: auto;
    }

    .form-width {
        display: flex;
        flex-direction: column;
    }

    .secondText {
        /* width: 78vh; */
        margin-top: 104px;
        text-align: center;
    }

    .doctor-img,
    .vector {
        width: 335px;
        margin-top: 5em;

    }

    .doctor-img {
        margin-left: 14px;

    }

    .img24-7,
    .pro-img {
        width: 109px
    }

    .pro-img {
        bottom: 24px;
    }

    .doc-search>input {
        padding: 10px 6px;
        width: 83%;
    }

    .pro-img {
        width: 95px;
        right: 168px;
        bottom: 0px;
    }

    .second-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .healthcare {
        font-size: 30px;
    }

    .img24-7 {
        left: 166px;
        top: 140px;
        padding: 6px 10px;
        width: 96px;
    }

    .doctor-img,
    .vector {
        width: 216px;
    }

    .doctor-img {
        margin-left: 35px;
    }

    .btn-search {
        padding: 10px 30px;
    }


    .doc-search>button {
        margin: 50px 0;
    }

    .logo img {
        width: 170px;
    }

    .doc-search {
        flex-direction: column;
    }

    .oneLine {
        display: flex;
        gap: 34px;
        align-items: center;
    }

    .appointment {
        flex-direction: column;
    }

    .numbers-main {
        gap: 220px;
    }

    .submit-btnn {
        width: 200px;
    }
}